.nav-item {
	font-size: 1em;
	margin-top: 0.5em;
}

	.nav-item ::deep a {
		text-decoration: none;
		color: #000;
		border-radius: 4px;
		height: 2.5em;
		display: flex;
		align-items: center;
		line-height: 2em;
		background-color: transparent;
		border: 2px solid black;
		padding: 0.5em 1em !important
	}

		.nav-item ::deep a:hover {
			background-color: black;
			color: #FFF;
		}

.container {
	display: flex;
	flex-wrap: nowrap; /* Prevent wrapping, allowing horizontal scroll */
	justify-content: flex-start; /* Align content to the start instead of centering */
	overflow-x: auto; /* Ensure horizontal scrolling */
	overflow-y: hidden; /* Prevent vertical scrolling */
	min-width: 100%; /* Ensure the container takes up full width */
	white-space: nowrap; /* Prevent items from breaking into new lines */
	mix-blend-mode: lighten;
	scrollbar-width: none;
	height: calc(15.5em + 10px);
	padding: 0;
	align-items: center;
}

.box {
	width: calc(90% / 4);
	max-width: calc(90% / 4);
	min-width: calc(90% / 4);
	height: 11.5em;
	padding: 1em;
	margin: 5px 5px 5px 5px;
/*	border: solid 2px var(--text);
*/	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.9);
	color: var(--text);
	font-size: 1em;
}

body {
	background-color: transparent;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.custom {
	color: var(--text);
}

.leftFade {
	height: 15.5em;
	width: 100px; /* Adjust width as needed */
	min-width: 50px;
	position: absolute; /* Change to absolute if necessary */
	/*margin-left: -50px;*/ /* Negative margin to overlap the container */
	z-index: 99999999999999; /* Ensure it overlaps instead of being pushed aside */
	/*background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));*/ /* Example fade effect */
	background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)); /* Horizontal fade */
	mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 2em, rgba(0, 0, 0, 1) calc(100% - 2em), rgba(0, 0, 0, 0) 100%);
/*	-webkit-mask: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
*/	pointer-events: none; /* Prevent interference with interactions */
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
}


.leftSpacer {
	width: 0.75em;
	min-width: 0.75em;
	height: 100%;
}